*{
    box-sizing: border-box;
    background-color: rgb(203, 224, 231);
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}
.flex-container>div{
    margin: 40px;
    width: 300px;
}

.relative{
    position: relative;
    width: 25%;
    height: 40px;
}

input{
    outline: none;
    border: none;
    color: black;
    background-color: white;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 90%;
    padding-left: 20px;
    font-size: large;
    font-style: italic;

}

.r1,.r5,.r7,.r7,#a7{
    border-radius: 30px;
}

.r2,#a2,#a4,.r6,#a6,.r8,#a8,#a10{
    border-radius: 5px;
}
.r3,.r9{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.r4,.r10{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#a3,#a4{
    background-color: green;
}

#a5,#a6{

    background-color: white;

}

#a7,#a8{
    background-color: orange;
}

#a9,#a10{
    background-color: rgb(90, 83, 83);
}
i{
    background-color: transparent;
    margin-left: 25px;
}

.a2{
    border-radius: 30px;
}
.absolute{
    background-color: blue;
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.absolute:hover{
    cursor: pointer;
}

@media screen and (max-width:280px){

    .flex-container>div{
        margin: 10px;
        width: 100%;
    }
   
    
}