body{
  background-color: black;
}

button {
  margin: 20px;
}
button:hover{
  cursor: pointer;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  padding: 10px 30px;
}

.custom-button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.arrow{

  background-color:white;
  color: black;
  border: 7px solid;
  padding: 10px 20px;
  border-radius: 5px;
  animation-name: borderon;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes borderon {
  0% {
    border-top-color: brown;
    border-left-color: blue;
    border-bottom-color: yellow;
    border-right-color: orangered;
  }

  25% {
    border-top-color: orangered;
    border-left-color:brown; 
    border-bottom-color: blue;
    border-right-color: yellow;
  }

  50% {
    border-top-color: yellow;
    border-left-color: orangered;
    border-bottom-color: brown;
    border-right-color: blue;
  }

  100%{
    border-top-color: blue;
    border-left-color: yellow;
    border-bottom-color: orangered;
    border-right-color: brown;

  }
}
.glow-button {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
  color: white;
}

.glow-button:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.music {
  color: white;
  background-color: black;
  padding: 30px 30px;
  border: 2px solid green;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  font-size: larger;
  font-weight: bolder;
  box-shadow: inset 2px 2px 2px white;

}

.music:hover {
  animation-name: musicon;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;

}

@keyframes musicon {
  0% {
    background-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg);
  }

  55% {
    background-image: repeating-conic-gradient(yellow 0deg 10deg, blue 10deg 20deg, red 20deg 30deg);
  }

  100% {
    background-image: repeating-conic-gradient(blue 0deg 10deg, red 10deg 20deg, yellow 20deg 30deg);
  }
}