*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
header{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: bolder;
}
h4{
    font-weight: lighter;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 200px;
    justify-content: space-around;
}
.box{
    border: 3px solid white;
    margin: 4px;
    width: 90px;
    height:100px;
    padding: 10px;
    color: peru;
    
}
.none{
    border: none;
}

.first{
    border-color: rgb(245, 245, 45);
    color: rgb(245, 245, 45);
}
.first:hover{
    background-color: rgb(245, 245, 45);
    color: black;
   

}
.second{
    border-color: rgb(146, 146, 255);
    color: rgb(146, 146, 255);
}
.second:hover{
    background-color: rgb(146, 146, 255);
    color: black;
}
.third{
    border-color: yellowgreen;
    color: yellowgreen;
}
.third:hover{
    background-color: yellowgreen;
    color: black;
}
.fourth{
    border-color: rgb(248, 75, 75);
    color: rgb(248, 75, 75);
}
.fourth:hover{
    background-color:rgb(248, 75, 75);
    color: black;
}
.box:hover{
    cursor:pointer;
    transform: scale(1.1,1.1);

}
b{
    font-size: xx-large;

}
span{
    font-weight: lighter;
}

.flex-container1{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 200px;
    justify-content: center;

}
.flex-container1>div,.tell>div{
    color: white;
    margin: 10px;
    
}
.tell{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 200px;
    justify-content: center;
}

.flex-container1 span{
    padding: 0px 8px;
    margin: 5px;
}
.tell>div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.co1{
    background-color: rgb(245, 245, 45);
}
.co2{
    background-color: yellowgreen;
}
.co3{
    background-color: rgb(146, 146, 255);
}
.co4{
    background-color: rgb(248, 75, 75);
}

@media screen  and (max-width:768px){

    .flex-container{
        display: flex;
        flex-wrap: wrap;
        margin: 10px 50px;
        justify-content: space-evenly;
    }
    .box{
        margin: 4px;
        width: 90px;
        height:100px;
        
    }
    .none{
        display: none;
    }
    .flex-container1,.tell{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin:30px;
    }

    
}